<div class="">
    <div class="card card-body w-25 mx-auto shadow-lg mt-5">
        <h5>E-mail</h5>
        <input placeholder="e-mail" [(ngModel)]='email'>
        <br>
        <h5>Senha:</h5>
        <input type="password" placeholder="senha" [(ngModel)]='password'>
        <br>
           <div class="d-flex justify-content-between">
            <a routerLink=""><button class=" btn btn-success" (click)='doLogin(email, password)'>Sign In</button></a>
            <a routerLink=""><button class="btn btn-primary" (click)='doRegister(email, password)'>Sign up</button></a>
           </div> 
    </div>
</div> 