.organizar {
    margin: 50px;
}

.riscar {
    margin: 10px 10px 10px 100px;
}

.submiter {
    padding-left: 5%;
    width: 800px;
}

.riscado {
    text-decoration-line: line-through;
}

.deleter {
    width: 800px;
    padding-left: 5%;
}

.main {
    display: inline-flex;
}