<div class ='main-page'>  
  <div>
        <h3>Adicionar item:</h3>
        <input class="itemLista" placeholder="item" (input) = "onInput($event)" [(ngModel)] = "searchValue">
        <br>
        <br>
        <button class="btn btn-danger" (click) = "onClick()" >Submit</button>
    </div>
    <div>
        <li  [ngClass] = "classeRisca" *ngFor = "let item of lista">
            {{item}}
            <button (click) = "nPress()" class="riscar btn btn-danger">riscar</button>
            <hr>
        </li>
    </div>
</div>