.organizar {
    margin: 50px;
}

.riscar {
    margin: 10px 10px 10px 100px;
}

.main-page {
    padding-left: 5%;
    width: 50%;
    
}

.item-lista {
    text-decoration: none;
}

.item-lista-modified {
    text-decoration: line-through;
}