 <div class = "main">
   <div class = 'submiter'>  
        <div>
            <h2>Adicionar item:</h2>
            <input class = "itemLista" placeholder = "item a adicionar" [(ngModel)] = "novoItem">
            <br>
            <br>
            <button class = "btn btn-primary" (click) = "onClick()" >Submit</button>
        </div>
        <div class = "adder">
            <ol>
            <li [ngClass] = "{'riscado':item.riscado}" *ngFor = "let item of lista; let i = index">
                {{item.item}}
                <button (click) = "riscar(i)" class = "riscar btn btn-warning">Riscar</button>
                <hr>
            </li>
            </ol> 
        </div>
    </div>
    <div class = "deleter">
        <div>
            <h2>Remover Item:</h2>
            <input class = "RemoverItem" placeholder = "Número a remover" [(ngModel)] = "deleting">
            <br>
            <br>
            <button (click) = "aleatorio(deleting)" class = "btn btn-danger">Remover</button>
        </div>
    </div>
</div>  